.editor-wrap {
    margin-bottom: 15px;
    padding: 10px;
    box-shadow:1px 6px 9px 3px rgba(0,0,0,.1);  
    position: relative;
    .btn-group {
        position: absolute;
        right: 20px;
        top: 15px;
        [class*=uk-icon-] {
            cursor: pointer;
        }
        .uk-icon-plus {
            margin-right: 5px;
        }
    }
    & /deep/ textarea {
        width: 100%;
        min-height: 100px;
        padding: 10px;
    }
}