<form class="uk-form uk-form-stacked">
    <div class="uk-form-row">
        <div class="textarea-header" for="form-s-t">
            <div class="header-left">
            16:50:11
            </div>
            <div class="uk-form-controls header-right">
                <input type="text" [(ngModel)]="markContent" name="mark" (blur)="markBlur()" placeholder="Tag" />
            </div>
        </div>
        <div class="uk-form-controls">
            <textarea 
            (blur)="editorBlur($event)" 
            name="name"
            [style.height.px]="editorHeight"
            [(ngModel)]="editorContent"
            *ngIf="editorType=='textarea'"></textarea>
            <ckeditor *ngIf="editorType=='ckeditor'"
                [(ngModel)]="editorContent"
                name="name"
                [config]="editorConfig"
                (blur)="editorBlur($event)"
                debounce="500">
            </ckeditor>
        </div>
    </div>
</form>